<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест завершен</title>
    {# <link rel="stylesheet" href="../serbia/css/tests.css"> #}
    <link href="{{ asset('styles/tests.css') }}" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="/"class="return"><p >Вернуться на главную</p></a>
        <p class="count" id="count">Профтест</p>
    </header>
    <div class="whole">
        <div class="entry">
            <div class="quiz">
    <div class="quiz-questions-item">
        <div class="quiz-questions-item__question q-pad">Поздравляем, вы успешно прошли тестирование!</div>
        <div class="quiz-final">Ваши результаты доступны в личном кабинете.</div>
       <div class="quiz-final">Мы также отправили вам письмо с результатами на указанную почту.</div>

    </div>
    <div class="flex-start" id="controls">
        <a href="/profile" class="lk" id="lk"><div>Перейти в личный кабинет</div></a>
    </div>
</div>
</div>
</div>
<footer>
    <a href=""class="return_footer"><p >Вернуться на главную</p></a>
  </footer>
</body>
<style>
    .quiz{
        display: initial !important;
    }
    .lk{
        display: flex !important;

    }
</style>
</html>